<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <% rateSym = "\u{1F334}" %>
          <dt>Reviews</dt>
          <dd>
            <% @reviews.each do |review| %>
              <% user = User.find_by(id: review.user_id) %>
              <p><%= "#{rateSym} " * review.rating %><br/><%= user.first_name %> <%= user.last_name %></p>
              <p><%= review.description %></p>
              <% if current_user != nil && user.id == current_user.id %>
                <button> DELET THIS </button>
              <% end %>
            <% end %>
          </dd>
        </dl>
      </div>

      <% if current_user != nil %>
        <div>
          <%= form_for [@product, Review.new] do |form| %>
            <%= form.label :description %>
            <%= form.text_field :description %><br/>
            <%= form.label :rating %>
            <%= form.select :rating, [[rateSym * 5, 5], [rateSym * 4, 4], [rateSym * 3, 3], [rateSym * 2, 2], [rateSym, 1]] %><br/>
            <%= form.submit "Post" %>
          <% end %>
        </div>
      <% end %>

    </div>

  </article>

</section>
